.postListContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 80vh;
  margin-top: 0.6rem;
  overflow: auto;
  /* background-color: #2a3547; */
  border-radius: 9px;
}

.postItem {
  flex-shrink: 0;
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease;
  max-width: 100%;
  height: 8rem;
  padding: 8px 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.6rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border: 1px solid #525d6f;
  background-color: #364153;
}

.manageContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  justify-content: space-between;
}

.postDeleteIconContainer {
  font-size: 1.3rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
}

.postDeleteIconContainer:hover {
  border: 1px solid #525d6f;
  background-color: #20293a;
}

.postContainer {
  flex: 1;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
}

.postContentContainer {
  width: auto;
  max-width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text-1);
  text-align: left;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: var(--color-text-2);
  text-align: left;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.statsContainer {
  width: 90%;
}

.stats {
  display: flex;
  gap: 20px;
  color: var(--color-text-3);
}

.statItem {
  font-size: 12px;
  font-weight: normal;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  border-radius: 4px;
  color: var(--color-text-1);
  font-size: 12px;
  font-weight: normal;
  background-color: #030329;
}

.imageContainer {
  display: flex;
  width: 108px;
  height: 72px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.statusContainer {
  background-color: #212434;
  display: block;
  right: 1rem;
  top: 1rem;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  font-weight: 400;
}

.rejected {
  color: #fa5252;
}

.approved {
  color: #4c6ef5;
}

.pending {
  color: #edf2ff;
}
